hr.show-hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.show-header {
	height: 66vh;
	max-height: inherit;
	min-height: 500px;
	overflow: hidden;
	position: absolute;
	top: 45px;
	width: 100%;
	z-index: -1;
}

.header-show-img {
	filter: blur(40px) brightness(0.9);
	display: inline-block;
	width: 200%;
	position: relative;
	right: 50%;
}

.show-content {
	box-shadow: 3px 3px 14px -5px rgba(0, 0, 0, 0.75);
	width: 100%;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 50px;
	padding-bottom: 80px;
}

.show-top-content {
	display: flex;
	position: relative;
}

.main-show-img {
	width: 65.8888%;
	height: 360px;
	border-top-left-radius: 4px;
}

.show-main-info {
	background-color: rgba(255, 255, 255, 0.9);
	border-top-right-radius: 4px;
	position: absolute;
	height: 100%;
	right: 0;
	width: 34.2222%;
	font-size: 0.9333333333rem;
	line-height: 1.25rem;
	letter-spacing: 0.5px;

	.main-info-date {
		padding: 30px;
		padding-bottom: 20px;
		display: flex;
		justify-content: space-between;
		.show-wishlist {
			display: flex;
			align-items: center;
			margin-right: 4%;
			.wishlist-icon {
				cursor: pointer;
			}
			span {
                margin-left: 5px;
				padding-top: 2px;
				width: 80px;
				color: #535564;
			}
		}

		.info-date {
			text-align: center;
			font-size: 13px;
			font-weight: 600;
			line-height: 15px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			color: #d1410c;
		}
	}

	.main-info-title {
		padding-top: 64px;
		margin-left: 10%;

		h1 {
			overflow: hidden;
			text-overflow: ellipsis;
			color: #1e0a3c;
			font-weight: 600;
			font-size: 20px;
			line-height: 21px;
			letter-spacing: 0.5px;
			word-break: break-word;
			margin-bottom: 14px;
		}

		span {
			color: #6f7287;
		}
	}

	.main-info-price {
		position: absolute;
		bottom: 25px;
		padding: 5px 20px;
		left: 30px;
		color: #3659e3;
		border: 1px solid;
		border-radius: 3px;
	}
}

.show-button {
	display: flex;
	justify-content: flex-end;
	height: 66px;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	// border-top: .4px solid #a2a2a2e0;
	border-bottom: 0.4px solid #a2a2a2e0;
	.show-button-container {
		width: 30%;
		margin-right: 2%;

		button {
			padding-left: 30px;
			padding-right: 30px;
			text-align: center;
			width: 100%;
			max-width: 320px;
			font-weight: 500;
			color: #fff;
			background: #089fba;
			height: 44px;
			border: 2px solid transparent;
			padding: 0 30px;
			box-sizing: border-box;
			text-align: center;
			text-decoration: none;
			line-height: 26px;
			font-size: 20px;
			border-radius: 4px;
			letter-spacing: 1.5px;
			&:hover {
				animation: 0.4s;
				background: #00b7bb;
			}
		}
		.enrolled {
			background-color: #fe5c5c;
			&:hover {
				animation: 0.4s;
				background: rgb(247, 56, 56);
			}
		}
	}
}

.main-description {
	position: relative;
	background-color: white;
	padding: 50px;

	hr {
		margin: 0 auto;
		margin-top: 40px;
	}
}

.mm-description {
	display: flex;
	width: 91.6666666667%;

	.description {
		width: 57.3333333333%;
		margin-left: 8.3333333333%;

		h1 {
			font-size: 1.4rem;
			padding-bottom: 5px;
		}

		.desc-content {
			line-height: 1.4rem;
			font-weight: 400;
			letter-spacing: 0.23px;
		}
	}
}

.date-loc-content {
	margin-left: 15%;
	width: 33%;

	h3 {
		color: #1e0a3c;
		line-height: 1.4rem;
		font-size: 1.2rem;
		font-weight: 400;
		text-transform: capitalize;
	}

	.day-time,
	.location {
		color: #39364f;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.show-more-info {
	text-align: center;

	.ar-header {
		padding: 15px;
		color: #1e0a3c;
		line-height: 1.4rem;
		font-size: 1.2rem;
		font-weight: 400;
		text-transform: capitalize;
	}

	.ar-content {
		margin: 0 auto;
		line-height: 1.5rem;
		max-width: 60%;
	}

	hr {
		margin: 40px auto;
		max-width: 70%;
	}
}

.edit-delete {
	display: flex;
	justify-content: center;
	border: none;

	.delete {
		button {
			background-color: #d72020;
			max-width: 240px;

			&:hover {
				background-color: rgb(240, 53, 53);
			}
		}
	}

	.edit {
		button {
			background-color: #354d77;
			max-width: 240px;

			&:hover {
				background-color: rgb(56, 94, 160);
			}
		}
	}
}
